@{
    Layout = null;
    @model Prj_Dh_Food_Shop.Users
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" media="all" />
</head>

<body>
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="form-section">
                    <h3>Đăng nhập</h3>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" });
                                <div class="form-input">
                                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Username", @autofocus = "autofocus" })
                                </div>
                                <div class="form-input">
                                    @Html.PasswordFor(model => model.passwords, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-primary theme-button mt-4">Đăng nhập</button>
                        }

                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </section>
</body>

</html>