
@model Prj_Dh_Food_Shop.Categories


<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-divEditCustomer"
     style="position: absolute; height: 405px; width: auto; top: 100px; left: 38%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title">Chỉnh sửa thông tin loại sản phẩm</span>
    </div>
    <div style="background-color:#FFF; width: auto; min-height: 0px;" class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <div style="display:none;" role="status" aria-hidden="true">
        </div>
        <table class="n-tbl-head-1" style="margin-bottom: 0">
            <tbody>
                <tr style="height: 25px">
                    <td style="width: 150px">
                        <span>Tên sản phẩm</span> (<span style="color:Red;">*</span>):
                    </td>
                    <td style="width: 300px">
                        <input type="text" value="@Model.name" maxlength="255" placeholder="" name="name" class="m_text" required />
                    </td>
                </tr>
                <tr style="height: 25px;">
                    <td colspan="2" align="center" style="padding-top: 10px; padding-left: 30%">
                        <input type="submit" value="Cập nhật" id="btnSave" class="n-btn-save" onclick="editCategory(@Model.id)">
                        <input type="submit" value="Hủy" id="btnBack" data-dismiss="modal" class="n-btn-cancel">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
