@model Prj_Dh_Food_Shop.Feedbacks
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<link rel="stylesheet" href="~/Areas/Content/Css/vendor.css" />
<link rel="stylesheet" href="~/Areas/Content/Css/style.css" />
<link rel="Stylesheet" type="text/css" href="~/Areas/Content/Css/n-custom.css" />
<script type="text/javascript" src="~/Areas/Scripts/jquery.min.1.11.3.js"></script>
<script type="text/javascript" src="~/Areas/Scripts/bootstrap.min.js"></script>

<div class="img">
    <a href='' target='_blank' title=''>
        <img src='https://dhfoods.com.vn/vnt_upload/weblink/Banner_Web-02_1.jpg' style="padding-bottom: 5%; width: 100%" alt='' />
    </a>
</div>
@Html.AntiForgeryToken()
<div id="vnt-background" class="v2">
    <div class="wrapCont">
        <div class="wrapper">
            <div class="box_mid">
                <div class="mid-title">
                    <div class="titleL"><span style="color: #1b5633;">Liên hệ</span></div>
                </div>
                <div class="mid-content">
                    <div class="roomContact">
                        <div class="grid">
                            <div class="col">
                                <div style="font-weight: bold; color:black" class="name">BP. Sản Xuất &amp; Thu Mua:</div>
                                <div class="be">Ms. Kim Xoạn - COO</div>
                                <div class="be">Email: <a href="mailto: xoanbk@dhfoods.com.vn">xoanbk@dhfoods.com.vn</a></div>
                                <div class="be hidden">Skype: <a href="skype:xoanbui?call">xoanbui</a></div>
                                <div class="be">SĐT/Telegram: <a href="tel: +(84) 947 442 788">+(84) 947 442 788</a></div>
                            </div>
                            <div class="col">
                                <div style="font-weight: bold; color:black" class="name">BP. Kinh Doanh &amp; MKT:</div>
                                <div class="be">Ms. Thanh Huyền - CCO</div>
                                <div class="be">Email: <a href="mailto: huyenvtt@dhfoods.com.vn">huyenvtt@dhfoods.com.vn</a></div>
                                <div class="be hidden">Skype: <a href="skype:thanhhuyenvo?call">thanhhuyenvo</a></div>
                                <div class="be">SĐT/Telegram: <a href="tel: +(84) 94 476 0277">+(84) 94 476 0277</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="contactTitle">CÔNG TY CỔ PHẦN DH FOODS</div>
                    <div class="info-contact">
                        <div class="img hidden-sm hidden-xs"><img src='//chart.apis.google.com/chart?chf=a,s,000000|bg,s,FFFFFF&chs=150x150&chld=M|1&cht=qr&chl=BEGIN%3AVCARD%0AVERSION%3A2.1%0AN%3A%0AORG%3AC%C3%B4ng+ty+C%E1%BB%95+ph%E1%BA%A7n+Dh+Foods%0ATITLE%3ATr%E1%BB%A5+s%E1%BB%9F+ch%C3%ADnh%0ATEL%3BWORK%3BVOICE%3ABP.Kinh+Doanh%3A+028+3922+5942+%2843%29++++-++++BP.Cung+%E1%BB%A9ng%3A+028+3922+5940+++-+++BP.K%E1%BA%BF+To%C3%A1n%3A+028+3922+5941%0ATEL%3BHOME%3BVOICE%3A%2B%2884%29+3822+5944%0AEMAIL%3BPREF%3BINTERNET%3Ahuyenvtt%40dhfoods.com.vn+ho%E1%BA%B7c+xoanbk%40dhfoods.com.vn%0AURL%3Awww.dhfoods.com.vn%0ANOTE%3AL%E1%BA%A7u+9%2C+728-730+V%C3%B5+V%C4%83n+Ki%E1%BB%87t%2C+Ph%C6%B0%E1%BB%9Dng+01%2C+Qu%E1%BA%ADn+5%2C+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh%0AEND%3AVCARD&choe=UTF-8' /></div>
                        <div class="over">
                            <ul>
                                <li class="">Lầu 9, 728-730 Võ Văn Kiệt, Phường 01, Quận 5, Thành phố Hồ Chí Minh</li>
                                <li class="">Điện thoại: <a href="tel:BP.Kinh Doanh: 028 3922 5942 (43)    -    BP.Cung ứng: 028 3922 5940   -   BP.Kế Toán: 028 3922 5941">BP.Kinh Doanh: 028 3922 5942 (43)    -    BP.Cung ứng: 028 3922 5940   -   BP.Kế Toán: 028 3922 5941</a></li>
                                <li class="">Fax: <a href="fax:+(84) 3822 5944">+(84) 3822 5944</a></li>
                                <li class="">Email: <a href="mailto:huyenvtt@dhfoods.com.vn hoặc xoanbk@dhfoods.com.vn">huyenvtt@dhfoods.com.vn hoặc xoanbk@dhfoods.com.vn</a></li>
                                <li class="">Website: <a href="www.dhfoods.com.vn">www.dhfoods.com.vn</a></li>
                                <li class="">MST: 0312015058</li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="form-contact v2">
                        <div class="form-group">
                            <div class="textContact">
                                <p>Xin kính chào quý khách! Cảm ơn Quý Khách đã quan tâm tới <span>Dh Foods</span>.</p><p>Nếu quý khách có thắc mắc, ý kiến phản hồi hay đóng góp xin vui lòng điền vào Form dưới đây và gửi cho chúng tôi. Xin chân thành cảm ơn!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="name">Họ tên <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <input type="text" name="name" id="name" class="required" value="" />
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <input type="text" name="email" id="email" required class="required" value="" />
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Điện thoại <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <input type="text" name="phone" id="phone" class="required" value="" />
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="address">Địa chỉ <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <input type="text" name="address" id="address" class="required" value="" />
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Tiêu đề <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <input type="text" name="subject" id="subject" class="required" value="" />
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="form-group">
                                    <label for="content">Nội dung <span>(*)</span></label>
                                    <div class="colRight">
                                        <div>
                                            <textarea class="required" id="content" name="content" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="flexRight">
                                <div class="gridButton">
                                    <div class="col">
                                        <button name="submit" id="submit" value="form_contact" style="float: right;margin-right: 1%;margin-bottom: 3%;" onclick="addFeedback()" type="submit">
                                            <span>Gửi</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addFeedback() {
        var model = {
            customer_name: $('input[name="name"]').val(),
            email: $('input[name="email"]').val(),
            phone_number: $('input[name="phone"]').val(),
            addresss: $('input[name="address"]').val(),
            title: $('input[name="subject"]').val(),
            descriptions: $('input[name="content"]').val(),
            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
        }

        $.ajax({
            url: '/LienHe/Create',
            type: "POST",
            data: model,
            success: function (rs) {
                if (rs != null && rs != undefined && rs != '') {
                    if (window.confirm(rs.msg)) {
                        if (rs.status == 1)
                            window.location.href = '/Client/LienHe/Index';
                    }
                    else {
                    }

                } else {
                    toastr.error('Có lỗi xảy ra!');
                }
            },
        });
    }
</script>
