
@{
    ViewBag.Title = "Error401";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="alert alert-danger">
        Bạn không có quyền truy cập.
    </div>
</body>
</html>

