
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/Content/css/style.css">

<body>

    <div id="main">
        <div class="col-div-3">
            <div class="box">
                <p>67<br><span>Customers</span></p>
                <i class="fas fa-users box-icon"></i>
            </div>
        </div>

        <div class="col-div-3">
            <div class="box">
                <p>88<br><span>Projects</span></p>
                <i class="fas fa-list box-icon"></i>
            </div>
        </div>

        <div class="col-div-3">
            <div class="box">
                <p>99<br><span>Orders</span></p>
                <i class="fas fa-shopping-bag box-icon"></i>
            </div>
        </div>

        <div class="col-div-3">
            <div class="box">
                <p>78<br><span>Tasks</span></p>
                <i class="fas fa-table box-icon"></i>
            </div>
        </div>

        <div class="clearfix"></div>
        <br><br>

        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>Top Selling Projects <span>View All </span></p>
                    <br>
                    <table>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Alfreds</td>
                            <td>Futterkister</td>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Alfreds</td>
                            <td>Futterkister</td>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Alfreds</td>
                            <td>Futterkister</td>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Alfreds</td>
                            <td>Futterkister</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-div-4">
            <div class="box-4" style="height: 350px;">
                <div class="content-box" style="background-color: #fcfcfc;">
                    <p>Total Sale <span>View All</span></p>

                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(".nav").click(function () {
            $("#mySidenav").css('width', '70px');
            $("#main").css('margin-left', '70px');
            $(".logo").css('visibility', 'hidden');
            $(".logo span").css('visibility', 'visible');
            $(".logo span").css('margin-left', '-10px');
            $(".icon-a").css('visibility', 'hidden');
            $(".icons").css('visibility', 'visible');
            $(".icons").css('margin-left', '-8px');
            $(".nav").css('display', 'none');
            $(".nav2").css('display', 'block');
        });

        $(".nav2").click(function () {
            $("#mySidenav").css('width', '300px');
            $("#main").css('margin-left', '300px');
            $(".logo").css('visibility', 'visible');
            $(".icon-a").css('visibility', 'visible');
            $(".icons").css('visibility', 'visible');
            $(".nav").css('display', 'block');
            $(".nav2").css('display', 'none');
        });

    </script>
</body>

