
@{
    ViewBag.Title = "CheckoutComplete";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}


<section id="cart-view" style="max-width: 800px; margin: auto;margin-top: 15%;margin-bottom: 5%;">
    <div class="container">
        <div _ngcontent-qjy-c210=""
             class="alert alert-success"
             style="max-width: 800px; margin: auto">
            <p _ngcontent-qjy-c210="">Cảm ơn quý khách đã mua hàng tại Dh Foods</p>
            <p _ngcontent-qjy-c210="">
                Chúng tôi đã gửi email xác nhận đơn hàng tới địa chỉ email của bạn.
            </p>
            <p _ngcontent-qjy-c210="">
                Nhân viên chăm sóc khách hàng của
                <strong _ngcontent-qjy-c210="">Dh Foods</strong> sẽ gọi điện xác minh lại
                đơn hàng của bạn sau khi nhận được đơn đặt hàng.
            </p>
        </div>
    </div>
</section>

