
@{
    ViewBag.Title = "CheckoutComplete";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}

<div class="vnt-main-top">
    <div id="vnt-slide" class="slick-init">
        <div class="item">
            <div class="img">
                <img src="https://dhfoods.com.vn/vnt_upload/weblink/__Banner_dai_De_dang_mua_sam_san_pham_Dh_Foods.jpg" style="padding-top: 4%;"/>
            </div>
        </div>
    </div>
    <div id="vnt-navation" class="breadcrumb" style="padding-bottom: 2%; background-color: #1b5633">
    </div>
</div>

<section id="cart-view" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="container">
        <div _ngcontent-qjy-c210=""
             class="alert alert-success">
            <p _ngcontent-qjy-c210="">Cảm ơn quý khách đã mua hàng tại Dh Foods</p>
            <p _ngcontent-qjy-c210="">
                Chúng tôi đã gửi email xác nhận đơn hàng tới địa chỉ email của bạn.
            </p>
            <p _ngcontent-qjy-c210="">
                Nhân viên chăm sóc khách hàng của
                <strong _ngcontent-qjy-c210="">Dh Foods</strong> sẽ gọi điện xác minh lại
                đơn hàng của bạn sau khi nhận được đơn đặt hàng.
            </p>
        </div>
    </div>
</section>

