
@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
    var categoryLists = (List<Prj_Dh_Food_Shop.Categories>)ViewBag.categoryList;
    var rs = (List<Prj_Dh_Food_Shop.Products>)ViewBag.Inner;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- include head.html -->
    <title>Dh_Foods</title>
    <!-- include styles.html -->
    <link rel="stylesheet" href="~/Areas/Content/Css/vendor.css" />
    <link rel="stylesheet" href="~/Areas/Content/Css/style.css" />
    <link rel="Stylesheet" type="text/css" href="~/Areas/Content/Css/n-custom.css" />
    <script type="text/javascript" src="~/Areas/Scripts/jquery.min.1.11.3.js"></script>
    <script type="text/javascript" src="~/Areas/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Content/Scripts/owl.carousel.min.js"></script>
    <script src="~/Areas/Content/Scripts/owl.carousel.js"></script>

    <style type="text/css">
        .cd-top {
            right: 25px;
            bottom: 60px;
        }

        .list-message .listMessage.warning {
            background-color: #EE0000;
        }

        .select2-container--open .select2-dropdown {
            width: 210px !important;
        }

        .tend {
            text-align: center;
            padding-top: 20px;
        }

        .n-section {
            background-color: #ffffff;
        }

        .n-heading#gioi-thieu {
            margin-bottom: 20px
        }

        .owl-stage {
            display: flex
        }

        .owl-dots {
            display: none
        }

        .owl-nav {
            display: none
        }
    </style>
</head>
<body class="n-landing">
    <ul id="listMessage" class="list-message"></ul>
    <main class="main-site">
        <!--Section Slider-->
        <section class="n-section">
            <img src="~/Areas/Content/Images/__Banner_Trang_chu_De_dang_mua_sam_san_pham_Dh_Foods.jpg" alt="" />
        </section>
        <!--End Section Slider-->
        <!--Giới thiệu-->
        <section id="gioi-thieu" class="n-section">
            <div class="container">
                <div class="row n-heading">
                    <div class="col-md-12">
                        <h2 style="color: #16492c;text-transform: uppercase; padding-top: 100px" class="font-heading">Giới thiệu</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="board">
                            <div class="board-inner">
                                <!-- board-inner -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home">
                                        <div class="row" style="margin-top: -20px">
                                            <div class="col-md-6">
                                                <img src="~/Areas/Content/Images/__cau_Chuyen_Thuong_Hieu_Dh_Foods_copy.jpg" alt="" />
                                            </div>
                                            <div class="col-md-5 col-md-offset-1 n-tab-content" style="margin-top: 95px">
                                                <h3 class="head">Đôi nét về <u><i style="font-size: 20px;">Dh foods</i></u></h3>
                                                <ul style="width: 100%">
                                                    <li>
                                                        Tại Dh Foods chúng tôi tin rằng, những gia vị chất lượng sẽ làm cho các bữa ăn ngon miệng và mọi người cảm thấy hạnh phúc hơn.
                                                        Những gia vị của Dh Foods cũng là những đặc sản mang nét văn hóa đặc trưng của các vùng miền Việt Nam.
                                                    </li>
                                                    <li>
                                                        Nhất quán với tiêu chí <a style="color: red">“Không Màu Tổng Hợp, Không Chất Bảo Quản Nhân Tạo, Không Tạp Chất”</a> ngay từ những ngày đầu,
                                                        Dh Foods trở thành lựa chọn hàng đầu về sự an toàn, chất lượng của người tiêu dùng.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End-->
        <!--Sản phẩm-->
        <section id="san-pham" class="n-section" style="padding-top: 40px"; padding-bottom: 40px">
            <div class="container">
                <div class="row n-heading">
                    <div class="col-md-12">
                        <h2 style="margin-top: 5%; text-transform: uppercase; animation-delay: 0.3s; color:#16492c" class="font-heading">Sản phẩm nổi bật</h2>
                    </div>
                </div>

                <div class="owl-carousel owl-loaded owl-drag" style="overflow: hidden;">
                    @foreach (var item in rs)
                    {
                        <div class="item">
                            <a href="~/Client/Product/productDetail?ProductId=@item.id"><img src="@item.image" /></a>
                            <h3 style="text-align: center; padding-top: 10px; font-weight:bold;"><a style="color: #000 !important" href="~/Client/Product/productDetail?ProductId=@item.id">@item.name</a></h3>
                        </div>
                    }
                </div>
            </div>
        </section>
        <!--Endh-->
        <!--Món ngon-->
        <section id="mon-ngon" class="n-section" style="padding-bottom: 40px;">
            <div class="container">
                <div class="row n-heading">
                    <div class="col-md-12">
                        <h2 style="margin-bottom:20px;text-transform: uppercase; color:#16492c; margin-top: 100px">Món ngon</h2>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="img"><a href="#"><img src="https://dhfoods.com.vn/vnt_upload/weblink/mon-ngon-5.jpg" alt="MÓN NGON" /></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!--End-->
        <!--khám phá gia vị-->
        <section id="gia-vi" class="n-section" style=" padding-bottom: 75px">
            <div class="container">
                <div class="row n-heading">
                    <div class="col-md-12">
                        <h2 style="margin-bottom:20px; text-transform: uppercase; margin-top: 100px; color:#16492c">Khám phá gia vị</h2>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="img">
                            <a href="#">
                                <img src="https://dhfoods.com.vn/vnt_upload/weblink/kham-pha-gia-vi_4.jpg" alt="Khám phá gia vị" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End-->
    </main>

</body>
</html>

<script type="text/javascript">
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 3,
        loop: true,
        margin: 50,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
    });
</script>



