@model IEnumerable<Prj_Dh_Food_Shop.Search_Orders_Detail>
@{
    var products = (List<Prj_Dh_Food_Shop.Products>)ViewBag.product;
    var count = 0;
}
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-divEditCustomer"
     style="position: absolute; height: auto; width: 60%; top: 140px; left: 23%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title">Chi tiết đơn đặt hàng</span>
    </div>
    <div style="background-color:#FFF; width: auto; min-height: 0px;" class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <div style="display:none;" role="status" aria-hidden="true">
        </div>

        <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
            <tr style="background-color: #EDEDED">
                <th style="text-align: center">
                    STT
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th style="text-align: center">
                    Số lượng
                </th>
                <th style="text-align: center">
                    Đơn giá
                </th>
            </tr>

            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td style="text-align: center">
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product_name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.counts)
                    </td>
                    <td style="text-align: center">
                        @item.amount.ToString("#,##") vnđ
                    </td>
                </tr>
            }
            <tr style="height: 25px;">
                <td colspan="2" align="center" style="padding-top: 10px; padding-left: 45%">
                    <input type="submit" value="Quay lại" id="btnBack" data-dismiss="modal" class="n-btn-cancel">
                </td>
            </tr>
        </table>
    </div>
</div>
