
@{
    ViewBag.Title = "product";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}

@model List<Prj_Dh_Food_Shop.Search_Products>
@{
    var categories = (Prj_Dh_Food_Shop.Categories)ViewBag.category;
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>NATURAL Nước Mắm Phú Quốc</title>
    <meta name="keywords" CONTENT="CÔNG TY CỔ PHẦN DH FOODS" />
    <meta name="description" CONTENT="Dh Foods với niềm tự hào về gia vị Việt, luôn mang đến những sản phẩm chất lượng nhất được lựa chọn kỹ càng từ khắp mọi miền Tổ Quốc." />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="aEmUg-7Z0H8FynZTBTzycgen1XIhJ8ExKGPLjmo2XfM" />
    <meta name="author" content="Dh Foods" />
    <style type="text/css">

        .wrap > a:focus {
            outline: none;
        }

        .header-tools > .languageMobile a {
            padding-top: 14px;
        }

        .header-tools > .menuTop > ul > li {
            margin-right: 35px;
        }

        .mainHeadWrap > .mainHead.fixed .logo img {
            max-height: 60px;
        }

        .menuTab ul li a, .productCart a, .info-contact .view-map-contact a, .info-contact .view-map-contact a:before, .form-contact button {
            border-radius: 5px;
        }

        div#vnt-footer > .mainFoot .grid .col:nth-child(3), div#vnt-footer > .mainFoot .grid .col:nth-child(4) {
            margin-bottom: 25px;
        }

        .item > .productCat .tend {
            min-height: 75px;
        }

            .item > .productCat .tend h3 {
                font-size: 27px;
                line-height: 35px;
                white-space: normal;
            }

        .breadcrumb ul li:first-child {
            display: none;
        }

        .breadcrumb ul li:nth-child(2) {
            margin-left: 0;
        }

        .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productDes {
            font-size: 18px;
            line-height: 26px;
        }

        .item > .productCat .tend h3, .col-lg-4.col-md-4.col-sm-6.col-xs-6 > .product .tend a, .item > .product .tend a, .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productTitle h1, .col-lg-6.col-md-6.col-sm-12.col-xs-12 > .productTitle h2, .col > .productCat .tend h3 {
            text-transform: none;
        }

        .col-lg-4.col-md-4.col-sm-6.col-xs-6 > .product .tend a {
            font-size: 24px;
            line-height: 32px;
        }

        .productDes > ol, .productDes > ul {
            list-style: disc !important;
            margin-top: 0;
            margin-bottom: 10px;
            padding-inline-start: 40px;
        }

        .info-contact .view-map-contact a span {
            padding-top: 1px;
        }

        .col-lg-4.col-md-4.col-sm-6.col-xs-12 > .recruit .tend h3 {
            height: auto;
        }

        .recruit .des {
            padding-top: 25px;
        }

        .recruit:hover .des {
            padding-top: 0px;
        }

        /*khảng cách tiêu đề bài viết*/
        .wrapConts .box_mid .mid-title .titleL {
            margin-top: 30px
        }

        .productWrap_c {
            margin-top: 30px;
        }

        .product .link a span {
            padding-right: 0 !important;
            position: relative;
        }

            .product .link a span:before {
                content: "" !important;
                font-family: fontAwesome;
                position:;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
    </style>

    <style type="text/css">
        .bx-bct {
            display: flex;
        }
    </style>

    <link href="https://dhfoods.com.vn/js/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dhfoods.com.vn/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://dhfoods.com.vn/js/slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="https://dhfoods.com.vn/js/fancybox3/jquery.fancybox.css" type="text/css" rel="stylesheet" />
    <link href="https://dhfoods.com.vn/js/jquery_alerts/jquery.alerts.css" type="text/css" rel="stylesheet" />
    <link href="https://dhfoods.com.vn/js/menumobile/menumobile.css" type="text/css" rel="stylesheet" />
    <link href="https://dhfoods.com.vn/js/my_effect_scroll/animate.css" type="text/css" rel="stylesheet" />
    <link href="https://dhfoods.com.vn/skins/default/style/screen.css?v=1.0" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://dhfoods.com.vn/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/slick/slick.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/menumobile/menumobile.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/fancybox3/jquery.fancybox.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/my_effect_scroll/my_effect_scroll.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/jquery_alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/core.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/style.js"></script>
    <link rel="stylesheet" href="https://dhfoods.com.vn/modules/product//css/product.css" type="text/css" />
    <script type="text/javascript" src="https://dhfoods.com.vn/js/mntab/mntab.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/modules/product//js/product.js"></script>
    <style type="text/css">
        #vnt-navation {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }

        .mainFoot {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }

        .mainHead {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }
    </style>
</head>
<body>
    <div id="vnt-wrapper">
        <div id="vnt-container">
            <div id="vnt-content">
                <div class="vnt-main-top"
                        <div id="vnt-slide" class="slick-init">
                            <div class="item">
                                <div class="img">
                                    <img src="https://dhfoods.com.vn/vnt_upload/product/08_2021/__Nuoc_Mam_Phu_Quoc.jpg" />
                                </div>
                            </div>
                        </div>
                        <div id="vnt-navation" class="breadcrumb">
                            <div class="wrapper">
                                <div class="navation">
                                    <ul>
                                        <li><a href="https://dhfoods.com.vn/"><span>Trang chủ</span></a></li>

                                        <li><a href="https://dhfoods.com.vn/vn/san-pham.html"><span>Sản phẩm</span></a></li>

                                        <li><span>@categories.name</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="vnt-background" class="bg">
                    <div class="wrapCont">
                        <div class="wrapper">
                            <div class="box_mid v2">
                                <div class="mid-title">
                                    <div class="titleL white"><h1>@categories.name</h1></div>
                                    <div class="titleR"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="mid-content">
                                    <div class="vnt-product">
                                        <div class="row">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                                    <div class="product">
                                                        <div class="img"><a href="~/Client/Product/productDetail?Product=@item.id"><img src="@item.link" /></a></div>
                                                        <div class="tend">
                                                            <h3><a href="~/Client/Product/productDetail?Product=@item.id">@item.name</a></h3>
                                                        </div>
                                                        <div class="link"><a href="~/Client/Product/productDetail?Product=@item.id"><span>Xem chi tiết</span></a></div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


