@model IEnumerable<Prj_Dh_Food_Shop.Search_Categories>
@{
    var categories = (List<Prj_Dh_Food_Shop.Categories>)ViewBag.category;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- include head.html -->
    <title>Dh_Foods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <!-- meta social -->
    <meta name="twitter:card" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <!-- Google Font -->
    <!-- include styles.html -->
    <link rel="stylesheet" href="~/Areas/Content/Css/vendor.css" />
    <link rel="stylesheet" href="~/Areas/Content/Css/style.css" />
    <link rel="Stylesheet" type="text/css" href="~/Areas/Content/Css/n-custom.css" />
    <script type="text/javascript" src="~/Areas/Scripts/jquery.min.1.11.3.js"></script>
    <script type="text/javascript" src="~/Areas/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        .cd-top {
            right: 25px;
            bottom: 60px;
        }

        .list-message .listMessage.warning {
            background-color: #EE0000;
        }

        .select2-container--open .select2-dropdown {
            width: 210px !important;
        }

        .tend {
            text-align: center;
            padding-top: 20px;
        }

        .n-section {
            background-color: #ffffff;
        }

        .n-heading#gioi-thieu {
            margin-bottom: 20px
        }
    </style>

    <script>
    $(document).ready(function () {

        $('.item-login n-login-btn').click(function (e) {

            e.preventDefault();

            var $modal = $('#login');
            var $modalDialog = $('.modal-dialog');
            var href = $(this).prop('href');

            // không cho phép tắt modal khi click bên ngoài modal
            var option = { backdrop: 'static' };

            // load modal
            $modalDialog.load(href, function () {
                $modal.modal(option, 'show');
            });
        });

    });
</script>
</head>

<body class="n-landing">
    <ul id="listMessage" class="list-message"></ul>
    <div class="body-wrap">
        <header class="header-site header sticky" id="myHeader">
            <!--Header Bottom-->
            <div class="container">
                <div class="header-bottom">
                    <div class="header__menu__btn">
                        <span class="content-btn"></span>
                    </div>
                    <div class="wrap-flex-right" style="width: 85%">
                        <nav class="header__menu" style="width: 100%">
                            <div>
                                <a href="~/Client/Homes/Index">
                                    <img src="~/Areas/Content/Images/Logo_Dh_Foods.png" alt="" style="float: left; width: 55px" />
                                </a>
                            </div>
                            <ul class="main-menu list-unstyled" id="myNavbar">
                                <li style="border: hidden;">
                                    <a></a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#gioi-thieu">Về dh foods</a>
                                </li>
                                <li>
                                    <a href="~/Client/ProductType/Index">Sản phẩm</a>
                                    <ul>
                                        @if (categories != null)
                                        {
                                            foreach (var item in categories)
                                            {
                                                <li><a href="~/Client/Product/Index?Category=@item.id" target="_self">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#mon-ngon">Món ngon</a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#gia-vi">Khám phá gia vị</a>
                                </li>
                                <li>
                                    <a href="~/Client/LienHe/Index">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="~/Client/Carts/Index"><i class="fa fa-cart-plus"></i> Giỏ Hàng</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__btn">
                        <a class="item-login n-login-btn" data-target="#login">
                            Đăng nhập
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <main class="main-site">

        @RenderBody()

        <!--Footer-->
        <div id="vnt-footer">
            <div class="mainFoot">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="title">Thông tin liên hệ</div>
                            <div class="grid">

                                <div class="col">
                                    <div class="name">BP. Sản Xuất &amp; Thu Mua:</div>
                                    <div class="be">Ms. Kim Xoạn - COO</div>
                                    <div class="be">Email: <a href="mailto:xoanbk@dhfoods.com.vn">xoanbk@dhfoods.com.vn</a></div>
                                    <div class="be">SĐT/Telegram: <a href="tel:+(84) 947 442 788">+(84) 947 442 788</a></div>
                                </div>

                                <div class="col">
                                    <div class="name">BP. Kinh Doanh &amp; MKT:</div>
                                    <div class="be">Ms. Thanh Huyền - CCO</div>
                                    <div class="be">Email: <a href="mailto:huyenvtt@dhfoods.com.vn">huyenvtt@dhfoods.com.vn</a></div>
                                    <div class="be">SĐT/Telegram: <a href="tel:+(84) 94 476 0277">+(84) 94 476 0277</a></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="title">Liên kết với Dh Foods</div>
                            <div class="socialFoot">
                                <ul>

                                    <li><a href="https://www.facebook.com/DHFoods.com.vn/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                                    <li><a href="https://www.youtube.com/user/userGiaviDhfoods" target="_blank"><i class="fab fa-youtube"></i></a></li>

                                    <li><a href="http://google.com" target="_blank"><i class="fab fa-google"></i></a></li>

                                    <li><a href="https://www.instagram.com/dhfoods_vn/" target="_blank"><i class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botFoot">
                <div class="wrapper">
                    <div class="copyright">
                        <div class="copy">Copyright © 2018 <strong>Dh Foods</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
    </main>
    <!-- include footer.html -->
    <footer></footer>
    <script src="~/Areas/Scripts/Css/vendor.js" type="text/javascript"></script>
    <script src="~/Areas/Scripts/Css/script.js" type="text/javascript"></script>

    <div id="login" role="dialog" class="zoom-anim-dialog mfp-hide wrap-sigin">
        <div class="signin-bg">
            <div class="signin-bg-wrapper">
                <form class="custom-form form-horizontal" runat="server" data-message="Đăng nhập thành công">
                    <h2 class="form-title">Đăng nhập</h2>
                    <div class="form-group input-form">
                        <span id="reauth-email" class="reauth-email"></span>
                        <asp:TextBox ID="txtUser" placeholder="Nhập tên đăng nhập..." runat="server" CssClass="form-control"></asp:TextBox>
                    </div>
                    <div class="form-group input-form">
                        <asp:TextBox ID="txtPass" TextMode="Password" runat="server" CssClass="form-control" placeholder="Mật khẩu" />
                        <img src="../Turing.aspx" id="imgTuring" runat="server" style="width: auto; height: 35px; cursor: pointer; margin-top: 10px"
                             alt="*" onclick="RefreshCaptcha()" title='Click vào hình để làm mới' />
                        <asp:TextBox ID="txtTuring" Visible="false" runat="server" placeholder="Mã xác thực..." CssClass="form-control"></asp:TextBox>
                    </div>
                    <div class="btn-button">
                        <asp:Button runat="server" ID="bntLogin" OnClientClick="return ValidateLogin();" OnClick="bntLogin_Click" Text="Đăng nhập" CssClass="btn-basic n-reg-btn" />
                    </div>
                </form>
                <p class="item-signup"><a href="LostPassword.aspx">Quên mật khẩu</a></p>
            </div>
        </div>
    </div>

</body>
</html>



