@using Prj_Dh_Food_Shop.Common;
@{
    var categoryLists = (List<Prj_Dh_Food_Shop.Categories>)ViewBag.categoryList;
    var KH = (Customers)Session[CommonConstants.KH_SESSION];
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- include head.html -->
    <title>Dh_Foods</title>

    <!-- font-awesome icons -->
    <link href="/Content/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    <!-- //font-awesome icons -->

    <!-- js-->
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/js/modernizr.custom.js"></script>

    <script src="~/Areas/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Content/Scripts/jquery.min.1.11.3.js"></script>
    <link rel="stylesheet" href="~/Areas/Content/Css/vendor.css" />
    <link rel="stylesheet" href="~/Areas/Content/Css/style.css" />
    <link rel="Stylesheet" type="text/css" href="~/Areas/Content/Css/n-custom.css" />
    <style type="text/css">
        .cd-top {
            right: 25px;
            bottom: 60px;
        }

        .list-message .listMessage.warning {
            background-color: #EE0000;
        }

        .select2-container--open .select2-dropdown {
            width: 210px !important;
        }

        .tend {
            text-align: center;
            padding-top: 20px;
        }

        .n-section {
            background-color: #ffffff;
        }

        .n-heading#gioi-thieu {
            margin-bottom: 20px
        }

        .w3l-login {
            position: relative;
            height: 100vh;
            background: none !important;
            background-size: cover;
        }
    </style>

</head>

<body class="n-landing">
    <ul id="listMessage" class="list-message"></ul>
    <div class="body-wrap">
        <header class="header-site header sticky" id="myHeader">
            <!--Header Bottom-->
            <div class="container">
                <div class="header-bottom">
                    <div class="header__menu__btn">
                        <span class="content-btn"></span>
                    </div>
                    <div class="wrap-flex-right" style="width: 80%">
                        <nav class="header__menu" style="width: 100%">
                            <div>
                                <a href="~/Client/Homes/Index">
                                    <img src="~/Areas/Content/Images/Logo_Dh_Foods.png" alt="" style="float: left; width: 55px" />
                                </a>
                            </div>
                            <ul class="main-menu list-unstyled" id="myNavbar">
                                <li style="border: hidden;">
                                    <a></a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#gioi-thieu">Về dh foods</a>
                                </li>
                                <li>
                                    <a href="~/Client/ProductType/Index">Sản phẩm</a>
                                    <ul>
                                        @if (categoryLists != null)
                                        {
                                            foreach (var item in categoryLists)
                                            {
                                                <li><a href="~/Client/Product/product?CategoryId=@item.id" target="_self">@item.name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#mon-ngon">Món ngon</a>
                                </li>
                                <li>
                                    <a href="~/Client/Homes/Index#gia-vi">Khám phá gia vị</a>
                                </li>
                                <li>
                                    <a href="~/Client/LienHe/Index">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="~/Client/Carts/Index"><i class="fa fa-cart-plus"></i> Giỏ hàng</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @if (KH == null)
                    {
                        <div class="header__btn">
                            <button type="button" class="item-login n-login-btn" id="loginTest">Đăng nhập</button>
                        </div>
                    }
                    else
                    {
                        <div class="wrap-flex-right" style="width: 20%">
                            <div class="header__btn_logout">
                                <li style="list-style-type: none;"> Xin chào: @KH.name</li>
                                <li style="list-style-type: none;">
                                    <a href="~/Login/Logout">
                                        <button type="button" class="item-login n-login-btn">Đăng xuất</button>
                                    </a>
                                </li>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </header>
    </div>
    <main class="main-site">

        @RenderBody()

        <!--Footer-->
        <div id="vnt-footer">
            <div class="mainFoot" style="padding-top: 100px;">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="title">Thông tin liên hệ</div>
                            <div class="grid">

                                <div class="col" style="padding: 0">
                                    <div class="name">BP. Sản Xuất &amp; Thu Mua:</div>
                                    <div class="be">Ms. Kim Xoạn - COO</div>
                                    <div class="be">Email: <a href="mailto:xoanbk@dhfoods.com.vn">xoanbk@dhfoods.com.vn</a></div>
                                    <div class="be">SĐT/Telegram: <a href="tel:+(84) 947 442 788">+(84) 947 442 788</a></div>
                                </div>

                                <div class="col" style="padding: 0">
                                    <div class="name">BP. Kinh Doanh &amp; MKT:</div>
                                    <div class="be">Ms. Thanh Huyền - CCO</div>
                                    <div class="be">Email: <a href="mailto:huyenvtt@dhfoods.com.vn">huyenvtt@dhfoods.com.vn</a></div>
                                    <div class="be">SĐT/Telegram: <a href="tel:+(84) 94 476 0277">+(84) 94 476 0277</a></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="title">Liên kết với Dh Foods</div>
                            <div class="socialFoot">
                                <ul>

                                    <li><a href="https://www.facebook.com/DHFoods.com.vn/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                                    <li><a href="https://www.youtube.com/user/userGiaviDhfoods" target="_blank"><i class="fab fa-youtube"></i></a></li>

                                    <li><a href="http://google.com" target="_blank"><i class="fab fa-google"></i></a></li>

                                    <li><a href="https://www.instagram.com/dhfoods_vn/" target="_blank"><i class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botFoot">
                <div class="wrapper">
                    <div class="copyright">
                        <div class="copy">Copyright © 2018 <strong>Dh Foods</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
    </main>
    <script src="/Content/js/jquery.nicescroll.js"></script>
    <!--//scrolling js-->
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" media="all" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="myModal" class="modal fade" role="dialog" data-url='@Url.Action("Login", "Homes")'>
        <div class="modal_dialog" style="width:45%; margin-left:auto; margin-right: auto">

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginTest').click(function () {
                event.preventDefault();
                jQuery.noConflict();
                var url = $('#myModal').data('url');
                $.get(url, function (data) {

                    $("#myModal").html(data);
                    $("#myModal").modal('show');
                });
            });
        });

    </script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('#loginTest').click(function () {

                    var url = $('#exampleModal').data('url');
                    $.get(url, function (data) {
                        $("#exampleModal").html(data);
                        $("#exampleModal").modal('show');
                    });
                });
            });
        </script>*@


</body>
</html>



