@model Prj_Dh_Food_Shop.Products

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-divEditCustomer"
     style="position: absolute; height: 108px; width: 35%; top: 10px; left: 37%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">  
            <span class="ui-dialog-title">Bạn có chắc chắn muốn xóa sản phẩm: @Model.name ?</span>
        </div>
    </div>
    <div class="modal-footer">
        @*<form onsubmit="return false">*@
        <input type="submit" value="Xóa" class="btn btn-danger" onclick="DelProducts(@Model.id)">
        <input type="submit" value="Quay lại" id="btnBack" data-dismiss="modal" class="n-btn-cancel">
        @*</form>*@
    </div>
</div>

